.nav-home {
  text-align: right;
  margin-bottom: 1em;
}

section {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (min-width: 1200px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}